<html>
	<head>
		<title>Pomelo Admin Console Web</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<script src="/js/jquery-3.2.1.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<style>
			#loginDiv {
				radius: 5;
				background-color:#FFFFFF;
				position:absolute;
				margin-top: 15%;
				margin-left:45%;
				margin-right:auto;
				z-index: 20;
				Line-height:1.5em;

			}
			#loginForm{
				padding: 2em;
				/*border: 1px grey solid;*/
				height:100%;
			}
			#bgDiv{
				background-color: #a1a1a1;
				height: 100%;
				width: 100%;
			}
		</style>
	</head>
	<body>
		<div id="bgDiv">
			<div id="loginDiv" >
				<form method="post" id="loginForm" name="LoginForm" action="../user/checkLogin" >
					<p style="text-align: center">请登录</p>
					<input id="username" class="form-control" name="username" type="text" placeholder="请输入用户名">
					<br>
					<input id="pwd" class="form-control" name="pwd" type="password" placeholder="请输入密码">
					<br>
					<input type="submit" value="登录" class="btn btn-default" style="margin-left: 35%;margin-right: auto">
				</form>
			</div>
		</div>

	</body>
</html>